ul {
  list-style-type: none;
}

li a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 5px 40px;
  text-decoration: none;
  }

li a:hover {
   background-color: blue;
  }